# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Scrapy
.scrapy/

# Базы данных
*.db
*.sqlite3

# Логи
*.log

# Зависимости Node.js
node_modules/

# Файлы окружения (никогда не должны быть в репозитории)
.env

# Временные файлы
.~lock.*#

# Настройки IDE
.vscode/